Just storing modeling tests in here - come back later for updates!

In [57]:
METBK_units = {'sea_surface_temperature': ['ºC'],
 'met_windavg_mag_corr_east': ['m s-1'],
 'met_windavg_mag_corr_north': ['m s-1']}

In [58]:
METBK_daily = METBK_daily.rename(columns={'Sea Surface Temperature (deg_C)':'sea_surface_temperature',
                                            'Eastward Wind Velocity (m s-1)': 'met_windavg_mag_corr_east'.format(METBK_units['met_windavg_mag_corr_east'][0]), 
                                            'Northward Wind Velocity (m s-1)': 'met_windavg_mag_corr_north'.format(METBK_units['met_windavg_mag_corr_north'][0])})

In [59]:
METBK_daily

,time,sea_surface_temperature,met_windavg_mag_corr_east,met_windavg_mag_corr_north,CUTI,upwelling
0,2017-01-01,11.247412,6.413056,-5.371468,1.731,1
1,2017-01-02,11.149430,-1.148830,-1.207261,1.308,1
2,2017-01-03,11.089363,-5.203772,2.533484,0.360,1
3,2017-01-04,10.926763,-6.222477,-4.027738,0.742,1
4,2017-01-05,10.756387,-6.911579,-3.048631,1.469,1
...,...,...,...,...,...,...
313,2017-11-10,12.468681,-0.408066,4.630594,-1.239,0
314,2017-11-11,12.591080,0.274552,4.486309,-0.740,0
315,2017-11-12,12.417127,-0.501287,8.977260,-0.543,0
316,2017-11-13,11.889144,4.022042,10.856365,-2.091,0
317,2017-11-14,11.876774,3.936518,6.797973,-2.339,0

In [64]:
features = ['sea_surface_temperature', 'met_windavg_mag_corr_east', 'met_windavg_mag_corr_north']
X = METBK_daily[features]
y = METBK_daily['upwelling']

In [65]:
X

,sea_surface_temperature,met_windavg_mag_corr_east,met_windavg_mag_corr_north
0,11.247412,6.413056,-5.371468
1,11.149430,-1.148830,-1.207261
2,11.089363,-5.203772,2.533484
3,10.926763,-6.222477,-4.027738
4,10.756387,-6.911579,-3.048631
...,...,...,...
313,12.468681,-0.408066,4.630594
314,12.591080,0.274552,4.486309
315,12.417127,-0.501287,8.977260
316,11.889144,4.022042,10.856365
317,11.876774,3.936518,6.797973

In [66]:
y

0      1
1      1
2      1
3      1
4      1
      ..
313    0
314    0
315    0
316    0
317    0
Name: upwelling, Length: 318, dtype: int64

In [70]:
sc = StandardScaler()

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

In [73]:
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

In [75]:
logreg = LogisticRegression()

In [76]:
logreg.fit(X_train_sc, y_train)

LogisticRegression()

In [77]:
logreg.score(X_train_sc, y_train)

0.8319327731092437

In [78]:
logreg.score(X_test_sc, y_test)

0.8125

In [79]:
X_train

,sea_surface_temperature,met_windavg_mag_corr_east,met_windavg_mag_corr_north
102,10.340394,4.393650,5.505326
79,10.432781,-1.444948,6.717467
280,14.719081,0.921250,-5.099964
186,13.437458,-0.098272,-3.034137
155,14.538817,-0.589584,-6.848077
...,...,...,...
233,14.815643,1.153536,-2.578816
58,10.488763,5.111347,-2.618992
195,14.060986,1.617900,-2.921389
74,10.602498,3.696034,0.242052
175,13.425513,-0.181825,3.168286