# Data Collection
---

In [1]:
# import necessary functions

import numpy as np
from numpy import datetime64 as dt64, timedelta64 as td64
import pickle

import sys, os
import shutil
import xarray as xr
import pandas as pd
from matplotlib import pyplot as plt
import cmocean.cm as cmo
import requests
import re
import datetime as dt

from netCDF4 import Dataset, num2date, date2num 
from datetime import datetime, timedelta

from yodapy.datasources import OOI
ooi = OOI(cloud_source=True)

# Local application/library specific imports
#from golive_library import GoliveLibrary as g

from yodapy.utils.creds import set_credentials_file

In [18]:
set_credentials_file(data_source='ooi', username='OOIAPI-U6ZIZ5UNB1LIMA', token='TEMP-TOKEN-VUO6PXYMNLE')

In [23]:
# enter your OOI API username and token, and directory where output .csv files are saved
API_USERNAME = 'OOIAPI-U6ZIZ5UNB1LIMA'
API_TOKEN = 'VUO6PXYMNLE'
save_dir = ''

Set up output and data directories - but if I'm using a ton of data, do I REALLY want to be saving all of it?

eh

In [4]:
# ooi.sites

In [5]:
# ooi.instruments

THOUSANDS of instruments!

In [6]:
# Narrow selection by putting desired site reference designator into search
# shallow profiler
# ooi.search('CE04OSPD')

Check the instruments now

In [7]:
# ooi.instruments

We want the CTD instrument

In [8]:
# Narrow selection by putting desired site reference designator into search
# 200m platform
# ooi.search('CE04OSPS')

Check the instruments now

In [9]:
# ooi.instruments

Look at surface mooring data - looking for wind measurements

In [10]:
# Narrow selection by putting desired site reference designator into search
# surface mooring
# ooi.search('CE04OSSM', instrument='pCO2 Air-Sea')

In [11]:
# ooi.instruments

In [12]:
# start_time = '2017-08-21T06:000'
# end_time = '2017-08-22T07:0000'    # the data file will include measurements close as possible to midnight on the morning of 2019-08-08

In [13]:
# ooi.request_data(begin_date=start_time, end_date=end_time)

In [14]:
# # editing these
# %time req_asseet = ooi.request_data(begin_date=begin_date, end_date=end_date)
# filenamelist = ooi.to_xarray()

---
# Following along with the Endurance coastal upwelling notebook nugget

### Pull data 

Looking at just a small section of the data available:
* 200m platform at Oregon Offshore location (CE04)
* Use the CTD-O instrument, start with temperature
* March-June 2017 or 2018
* look at shallow profiler data later!

Using this function written by lgarzio to request data from the OOI

In [20]:
def request_data(reference_designator, method, stream, start_date=None, end_date=None):
    site = reference_designator[:8]
    node = reference_designator[9:14]
    instrument = reference_designator[15:]

    # Create the request URL
    api_base_url = 'https://ooinet.oceanobservatories.org/api/m2m/12576/sensor/inv'
    data_request_url = '/'.join((api_base_url, site, node, instrument, method, stream))

    # All of the following are optional, but you should specify a date range
    params = {
        'format': 'application/netcdf',
        'include_provenance': 'true',
        'include_annotations': 'true'
    }
    if start_date:
        params['beginDT'] = start_date
    if end_date:
        params['endDT'] = end_date

    # Make the data request
    r = requests.get(data_request_url, params=params, auth=(API_USERNAME, API_TOKEN))
    data = r.json()

    # Return just the THREDDS URL
    return data['allURLs'][0]

Use the above function to get URLs according to your API tokens. Save these URLs so you don't have to request them again every time you open this notebook.

In [21]:
METBK_url = request_data('CE04OSSM-SBD11-06-METBKA000', 'recovered_host', 
                         'metbk_a_dcl_instrument_recovered',
                         '2017-08-21T00:00:00.000Z', '2017-08-22T12:00:00.000Z')
print('METBK_url: %s' %METBK_url)

KeyError: 'allURLs'

In [24]:
CTD_url = request_data('CE04OSPS-SF01B-2A-CTDPFA107', 'streamed', 'ctdpf_sbe43_sample',
                        '2017-08-21T00:00:00.000Z', '2017-08-22T12:00:00.000Z')
print('CTD_url: %s' %CTD_url)

CTD_url: https://opendap.oceanobservatories.org/thredds/catalog/ooi/deryag@uw.edu/20210428T020336326Z-CE04OSPS-SF01B-2A-CTDPFA107-streamed-ctdpf_sbe43_sample/catalog.html

Saved the URLs below.

In [25]:
CTD_url = 'https://opendap.oceanobservatories.org/thredds/catalog/ooi/deryag@uw.edu/20210422T023415685Z-CE04OSPS-SF01B-2A-CTDPFA107-streamed-ctdpf_sbe43_sample/catalog.html'
METBK_url = 'https://opendap.oceanobservatories.org/thredds/catalog/ooi/deryag@uw.edu/20210422T022044996Z-CE04OSSM-SBD11-06-METBKA000-recovered_host-metbk_a_dcl_instrument_recovered/catalog.html'

### Load data files

This function does A LOT - will explain later

In [26]:
def get_data(url, variables, deployments=None):
    # Function to grab all data from specified directory
    tds_url = 'https://opendap.oceanobservatories.org/thredds/dodsC'
    dataset = requests.get(url).text
    ii = re.findall(r'href=[\'"]?([^\'" >]+)', dataset)
    # x = re.findall(r'(ooi/.*?.nc)', dataset)
    x = [y for y in ii if y.endswith('.nc')]
    for i in x:
        if i.endswith('.nc') == False:
            x.remove(i)
    for i in x:
        try:
            float(i[-4])
        except:
            x.remove(i)
    # dataset = [os.path.join(tds_url, i) for i in x]
    datasets = [os.path.join(tds_url, i.split('=')[-1]).replace("\\","/") for i in x]

    # remove deployments not in deployment list, if given
    if deployments is not None:
        deploy = ['deployment{:04d}'.format(j) for j in deployments]
        datasets = [k for k in datasets if k.split('/')[-1].split('_')[0] in deploy]

    # remove collocated data files if necessary
    catalog_rms = url.split('/')[-2][20:]
    selected_datasets = []
    for d in datasets:
        if catalog_rms == d.split('/')[-1].split('_20')[0][15:]:
            selected_datasets.append(d)

    # create a dictionary to populate with data from the selected datasets
    data_dict = {'time': np.array([], dtype='datetime64[ns]')}
    unit_dict = {}
    for v in variables:
        data_dict.update({v: np.array([])})
        unit_dict.update({v: []})
    print('Appending data from files')

    for sd in selected_datasets:
        url_with_fillmismatch = f'{sd}#fillmismatch'
        ds = xr.open_dataset(url_with_fillmismatch, mask_and_scale=False)
        data_dict['time'] = np.append(data_dict['time'], ds['time'].values)
        for var in variables:
            data_dict[var] = np.append(data_dict[var], ds[var].values)
            units = ds[var].units
            if units not in unit_dict[var]:
                unit_dict[var].append(units)

    # convert dictionary to a dataframe
    df = pd.DataFrame(data_dict)
    df.sort_values(by=['time'], inplace=True)  # make sure the timestamps are in ascending order

    return df, unit_dict

Time to actually GET the data! Print a `.head()` of each dataset to make sure the data was successfully pulled.

In [27]:
# Specify the variable(s) of interest and get the data for the three datasets
CTD_var = ['seawater_pressure', 'seawater_temperature', 'lat', 'lon']
METBK_var = ['sea_surface_temperature', 'met_windavg_mag_corr_east', 'met_windavg_mag_corr_north']

CTD_data, CTD_units = get_data(CTD_url, CTD_var)
METBK_data, METBK_units = get_data(METBK_url, METBK_var)
print(CTD_units)
print(METBK_units)

Appending data from files
Appending data from files
{'seawater_pressure': ['dbar'], 'seawater_temperature': ['ºC'], 'lat': ['degrees_north'], 'lon': ['degrees_east']}
{'sea_surface_temperature': ['ºC'], 'met_windavg_mag_corr_east': ['m s-1'], 'met_windavg_mag_corr_north': ['m s-1']}

In [28]:
CTD_data.head()

,time,seawater_pressure,seawater_temperature,lat,lon
0,2017-08-21 00:00:00.447585792,190.001841,7.575786,44.37415,-124.95648
1,2017-08-21 00:00:01.448322048,190.001818,7.575907,44.37415,-124.95648
2,2017-08-21 00:00:02.447913472,189.999678,7.575847,44.37415,-124.95648
3,2017-08-21 00:00:03.448756224,189.998631,7.576028,44.37415,-124.95648
4,2017-08-21 00:00:04.448346624,189.997538,7.576269,44.37415,-124.95648

In [29]:
METBK_data.head()

,time,sea_surface_temperature,met_windavg_mag_corr_east,met_windavg_mag_corr_north
0,2017-08-21 00:00:03.796999680,14.549,-0.360490,-7.946707
1,2017-08-21 00:01:08.644000256,14.547,1.163867,-6.922775
2,2017-08-21 00:02:12.951000064,14.541,0.017504,-7.967213
3,2017-08-21 00:03:17.189000192,14.539,0.291025,-8.104277
4,2017-08-21 00:04:22.203999744,14.533,1.330982,-6.387917

Yay! If one of the above printouts is empty try rerunning the cell where you got the data.

In [31]:
# subset the glider dataframes for a time range that includes one transect on/offshore
CTD_data = CTD_data[(CTD_data['time'] > dt.datetime(2016, 8, 15, 13, 0, 0)) &
                   (CTD_data['time'] < dt.datetime(2016, 8, 24, 9, 0, 0))]

Data looks slightly different now.

In [32]:
CTD_data.head()

Empty DataFrame
Columns: [time, seawater_pressure, seawater_temperature, lat, lon]
Index: []

In [ ]:
FLORT_data.head()

There's a bunch of plotting for the glider data that I'm skipping because I'm more interested in the platform data for this project. Will need to edit the code above so I'm not pulling data that I don't end up using.

In [ ]:
def return_array_subsites_standard_loc(array):
    DBurl= 'https://datareview.marine.rutgers.edu/regions/view/{}.json'.format(array)
    r = requests.get(DBurl)
    url_ct = r.json()['region']['sites']
    loc_df = pd.DataFrame()
    for ii in range(len(url_ct)):
        if url_ct[ii]['reference_designator'] != 'CE05MOAS':
            data = {
                    'lat': url_ct[ii]['latitude'],
                    'lon': url_ct[ii]['longitude'],
                    'max_z': url_ct[ii]['max_depth']
                    }
            new_r = pd.DataFrame(data, columns=['lat', 'lon', 'max_z'], index=[url_ct[ii]['reference_designator']])
            loc_df = loc_df.append(new_r)
    return loc_df

In [ ]:
array_loc = return_array_subsites_standard_loc('CE')
print(array_loc)

In [ ]:
# this function can only be used if the expected values are always >0
def remove_zeros(df, variables):
    cnames = []
    for v in variables:
        if v not in ['lat', 'lon']:
            cname = v + '_ind'
            cnames.append(cname)
            df[cname] = df[v] > 0.00
    for cn in cnames:
        df = df.loc[df[cn] == True]
    df = df.drop(columns=cnames)
    return df

In [ ]:
CTD_data = remove_zeros(CTD_data, CTD_var)

In [ ]:
FLORT_data = remove_zeros(FLORT_data, FLORT_var)

In [ ]:
CTD_data.head()

In [ ]:
METBK_data.head()

In [ ]:
fig, (ax1, ax2, ax3) = plt.subplots(3,1, sharex=True, figsize = (8, 10))
ax1.plot(METBK_data['time'], METBK_data['sea_surface_temperature'], 'b.')
ax1.set_xlabel('')
ax1.set_ylabel('Sea Surface Temperature (deg_C)')
ax1.set_title('Oregon Shelf Surface Mooring')

ax2.plot(METBK_data['time'], METBK_data['met_windavg_mag_corr_east'], 'c.')
ax2.set_xlabel('')
ax2.set_ylabel('Eastward Wind Velocity ({})'.format(METBK_units['met_windavg_mag_corr_east'][0]))

ax3.plot(METBK_data['time'], METBK_data['met_windavg_mag_corr_north'], 'g.')
ax3.set_xlabel('')
ax3.set_ylabel('Northward Wind Velocity ({})'.format(METBK_units['met_windavg_mag_corr_north'][0]))

plt.xticks(rotation=35);

Plot wind data!

In [ ]:
METBK_hourly = METBK_data.resample('H', on='time').mean().dropna(how='all').reset_index()
METBK_hourly.head()

In [ ]:
fig, ax = plt.subplots(figsize=(10,4))
plt.plot(METBK_hourly['time'], METBK_hourly['met_windavg_mag_corr_east'], 'c', label='eastward wind')
plt.plot(METBK_hourly['time'], METBK_hourly['met_windavg_mag_corr_north'], 'g', label='northward wind')
ax.set_ylabel('Wind Velocity ({})'.format(METBK_units['met_windavg_mag_corr_north'][0]))
ax.legend()
plt.axhline(y=0, ls='-', c='black') # add horizontal line at 0
ax.set_title('Oregon Shelf Surface Mooring: hourly averages')
plt.xticks(rotation=35);

In [ ]:
# calculate the percentage of time during this time range that winds are blowing towards the south
north_winds = np.array(METBK_hourly['met_windavg_mag_corr_north'])
upwelling_percentage = len(north_winds[north_winds < 0]) / len(north_winds) * 100
print('{}%'.format(round(upwelling_percentage)))

In [ ]:
# rename the columns and add units
METBK_hourly = METBK_hourly.rename(columns={'sea_surface_temperature': 'Sea Surface Temperature (deg_C)',
                                            'met_windavg_mag_corr_east': 'Eastward Wind Velocity ({})'.format(METBK_units['met_windavg_mag_corr_east'][0]), 
                                            'met_windavg_mag_corr_north': 'Northward Wind Velocity ({})'.format(METBK_units['met_windavg_mag_corr_north'][0])})
METBK_hourly.head()

In [ ]:
# Plot hourly-averaged METBK data
fig, (ax1, ax2) = plt.subplots(2, 1, sharex=True, figsize = (10, 8))
ax1.plot(METBK_hourly['time'], METBK_hourly['Sea Surface Temperature (deg_C)'], 'blue')
ax1.set_xlabel('')
ax1.set_ylabel('Sea Surface Temperature (deg_C)')
ax1.set_title('Oregon Shelf Surface Mooring: hourly averages')

ax2.plot(METBK_hourly['time'], METBK_hourly['Eastward Wind Velocity (m s-1)'], 'c', label='eastward wind')
ax2.plot(METBK_hourly['time'], METBK_hourly['Northward Wind Velocity (m s-1)'], 'g', label='northward wind')
ax2.set_ylabel('Wind Velocity ({})'.format(METBK_units['met_windavg_mag_corr_north'][0]))
ax2.legend()
ax2.axhline(y=0, ls='-', c='black') # add horizontal line at 0

plt.xticks(rotation=35);

In [ ]:
fig, ax = plt.subplots(figsize=(10,4))
ax.plot(METBK_hourly['time'], METBK_hourly['Northward Wind Velocity (m s-1)'], 'g')
ax.set_ylabel('Northward Wind Velocity (m s-1)', color='g')
plt.xticks(rotation=35)

ax2 = ax.twinx()  # instantiate a second axis that shares the same x-axis
ax2.plot(METBK_hourly['time'], METBK_hourly['Sea Surface Temperature (deg_C)'], 'blue')
ax2.set_ylabel('Sea Surface Temperature (deg_C)', color='blue')

ax.axhline(y=0, ls='-', c='black') # add horizontal line at 0
ax.set_title('Oregon Shelf Surface Mooring: hourly averages');